{% load static %}
<section id="story" class="about-section text-center">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-4 mx-auto mb-2">
        <img src="{% static 'img/rizal/rizal.png'%}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 mx-auto mb-2">
        <h2 class="text-white">José Protasio Rizal Mercado Y Alonso Realonda</h2> <br>
        <h3 class="text-white mb-4"> <small> <i>June 19, 1861 - December 30, 1896</i> </small></h2>
        <p class="text-white-50">
          Patriot, physician, martyr and national hero of the Malayan race. <br> <br>
          Born in Calamba, Philippines. While living in Europe, Rizal wrote
          about the discrimination that accompanied Spain's colonial rule of his
          country. He returned to the Philippines in 1892, but was exiled due
          to his desire for reform. Although he supported peaceful change, Rizal
          was convicted of sedition and executed on Bagumbayan
          Field at the age of 35.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="projects-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{% static 'img/about/1.png'%}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1861-1872</h4>
                <h4 class="subheading">First Period</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  In José Rizal's childhood, he learned how to read, write by
                  listen to the stories and teachings of his mother,
                  Teodora Alonzo Y Quintos, whom have also encouraged his son
                  in expressing sentiments and ideas in verses. He was also able
                  to write a poem about the love of one's native language
                  entitled "Sa Aking Mga Kabata" at the age of eight.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{% static 'img/about/2.png'%} " alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1872-1882</h4>
                <h4 class="subheading">Second Period</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  The first turning point in the life of Rizal, when at 11 years old,
                  was enrolled at Ateneo Municipal. It was the period when Frs. Gomez,
                  Burgos and Zamora were unjustly executed by the Spanish government.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{% static 'img/about/3.png'%}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1882-1892</h4>
                <h4 class="subheading">Third Period</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  This is the time that Rizal decided to leave the Philippines
                  to escape persecution. He went to Europe and became an observer
                  and a student.He urged the Filipino colony in Spain to prove
                  that Filipinos can compete with the Europeans in intellect and
                   talent. It is also during this period that he took part in
                   Propaganda Movement, which is based in Europe.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="{% static 'img/about/4.png'%}" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>1892-1896</h4>
                <h4 class="subheading">Fourth Period</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  The last period in the life of Rizal. Rizal was exiled in Dapitan,
                  where he also demonstrated what an individual can do and
                  accomplish within a short period of time.
                  It was here where he detached his connection with politics
                  and devoted more of his time in practical service and
                  usefulness to the community.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
