{% load static %}

<!-- Portfolio Grid -->
<section class="bg-light pt-5" id="works">
  <div class="row">
    <div class="col-md-4 col-sm-6 portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fas fa-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-fluid" src="{% static 'img/works/1a.png' %}" alt="">
      </a>
      <div class="portfolio-caption">
        <h4>Noli Me Tangere</h4>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fas fa-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-fluid" src="{% static 'img/works/2a.png' %}" alt="">
      </a>
      <div class="portfolio-caption">
        <h4>El Filibusterismo</h4>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fas fa-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-fluid" src="{% static 'img/works/3a.png' %}" alt="">
      </a>
      <div class="portfolio-caption">
        <h4>Mi último adiós</h4>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fas fa-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-fluid" src="{% static 'img/works/4a.png' %}" alt="">
      </a>
      <div class="portfolio-caption">
        <h4>Friars and Filipinos: An Abridged</h4>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fas fa-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-fluid" src="{% static 'img/works/5a.png' %}" alt="">
      </a>
      <div class="portfolio-caption">
        <h4>A la juventud filipina</h4>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fas fa-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-fluid" src="{% static 'img/works/6a.png' %}" alt="">
      </a>
      <div class="portfolio-caption">
        <h4>To the Filipino Youth</h4>
      </div>
    </div>
  </div>
</section>
